@{
    ViewBag.Title = "Natanael Tavares Lemos";
    ViewBag.Summary = "Software Design Engineer III";
}

<div class="text-right small">
    <p>Solteiro, @(Math.Truncate((DateTime.Now - new DateTime(1994, 05, 07)).TotalDays / 365)) anos</p>
    <p>Redmond, WA, USA</p>
</div>

<fieldset>
    <legend>Formação Acadêmica</legend>
    <ul class="cv-ul">
        <li>
            <h4>Especialista em Engenharia de Software</h4>
            <p>Universidade Estadual de Campinas – Campinas/SP</p>
            <p>Concluído em dezembro de 2016</p>
        </li>
        <li>
            <h4>Tecnólogo em Análise e Desenvolvimento de Sistemas</h4>
            <p>Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</p>
            <p>Concluído em dezembro de 2014</p>
        </li>
        <li>
            <h4>Técnico em Informática</h4>
            <p>Escola Técnica Estadual Fernando Prestes – Sorocaba/SP</p>
            <p>Concluído em dezembro de 2011</p>
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Certificações</legend>
    <ul class="cv-ul">
        <li>
            <h4>MCSD: Microsoft Certified Solutions Developer: Web Applications</h4>
            <p>Número do Certificado: F729-9128</p>
            <p>Emitido em maio de 2016</p>
        </li>
        <li>
            <h4>MCSD: Microsoft Certified Solutions Developer: App Builder</h4>
            <p>Número do Certificado: F813-2569</p>
            <p>Emitido em agosto de 2016</p>
        </li>
        <li>
            <h4>MCPS: Microsoft Certified Professional</h4>
            <p>Número do Certificado: F374-1343</p>
            <p>Emitido em julho de 2015</p>
        </li>
        <li>
            <h4>Microsoft: Programming in HTML5 with Javascript and CSS3</h4>
            <p>Número do Certificado: F374-1348</p>
            <p>Emitido em julho de 2015</p>
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Capacitação</legend>
    <ul class="cv-ul">
        <li>
            <h4>Microsoft Official Course: 20480 – Programming in HTML5 with Javascript and CSS3</h4>
            <p>Ka Solutions – São Paulo/SP</p>
            <p>Concluído em setembro de 2014</p>
        </li>
        <li>
            <h4>Microsoft Official Course: 20486 - Developing Asp.Net MVC 4 Web Applications</h4>
            <p>Ka Solutions – São Paulo/SP</p>
            <p>Concluído em setembro de 2014</p>
        </li>
        <li>
            <h4>Microsoft Official Course: 20487 - Developing Windows Azure and Web Services</h4>
            <p>Ka Solutions – São Paulo/SP</p>
            <p>Concluído em setembro de 2014</p>
        </li>
        <li>
            <h4>Curso introdutório à programação com Grafos</h4>
            <p>Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</p>
            <p>Realizado em 2012</p>
        </li>
        <li>
            <h4>Curso Profissionalizante em Manutenção de Computadores</h4>
            <p>Directa Treinamentos – Cajati/SP</p>
            <p>Realizado em 2006</p>
        </li>
        <li>
            <h4>Curso de Inglês</h4>
            <p>L.S.E. Cursos de Idiomas e Treinamentos – Cajati/SP</p>
            <p>No período de 2002 a 2009</p>
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Conhecimentos em Tecnologia</legend>
    <ul class="cv-ul">
        <li>
            <h4>Sistemas operacionais:</h4>
            <p>GNU/Linux e Windows</p>
        </li>
        <li>
            <h4>Linguagens de Programação:</h4>
            <p>Forte em: C#, CSS, HTML, Javascript, TypeScript, Visual Basic</p>
            <p>Familiar com: C++, Java, PowerShell, ShellScript (Bash)</p>
        </li>
        <li>
            <h4>Frameworks e APIs:</h4>
            <p>AngularJS, Apache Cordova, Asp.Net MVC, Entity Framework, Hangfire, Java Server Faces, KnockoutJS, SignalR, Xunit</p>
        </li>
        <li>
            <h4>Bancos de Dados:</h4>
            <p>SQL e NoSQL (orientados à documentos)</p>
        </li>
        <li>
            <h4>Idiomas</h4>
            <p>Inglês - Fluente</p>
        </li>
    </ul>
</fieldset>

<fieldset>
    <legend>Experiência</legend>
    <ul class="cv-ul">
        <li>
            <h4>Desenvolvedor Sênior</h4>
            <p><a title="Site Ventron" target="_blank" rel="noopener" href="//www.ventron.com.br/">Ventron – Sorocaba/SP</a></p>
            <p>A partir de fevereiro de 2017</p>
        </li>
        <li>
            <h4>Desenvolvedor Pleno</h4>
            <p>
                <a title="Site Fazsoft Solutions" target="_blank" rel="noopener" href="//www.fazsoft.com.br/">Fazsoft Solutions – Sorocaba/SP</a>
            </p>
            <p>No período de dezembro de 2013 a fevereiro de 2017</p>
        </li>
        <li>
            <h4>Estagiário</h4>
            <p>
                <a title="Site Fazsoft Solutions" target="_blank" rel="noopener" href="//www.fazsoft.com.br/">Fazsoft Solutions – Sorocaba/SP</a>
            </p>
            <p>No período de maio de 2013 a dezembro de 2013</p>
        </li>
        <li>
            <h4>Monitor de Linguagem de Programação e Estrutura de Dados</h4>
            <p>
                <a title="Site FATEC Sorocaba" target="_blank" rel="noopener" href="//www.fatecsorocaba.edu.br/">Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</a>
            </p>
            <p>No período de março de 2013 a junho de 2013</p>
        </li>
</fieldset>

<fieldset>
    <legend>Projetos</legend>
    <ul class="cv-ul">
        <li>
            <h4>Trabalho de Graduação "Rede Social Educativa"</h4>
            <p>Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</p>
            <p>Entregue em dezembro de 2014</p>
        </li>
        <li>
            <h4>Iniciação Científica "Sistema Educacional para Ensino de História"</h4>
            <p>Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</p>
            <p>No período de fevereiro de 2013 a fevereiro de 2014</p>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>Eventos e palestras</legend>
    <ul class="cv-ul">
        <li>
            <h4>Palestrante no mini-curso de introdução ao Asp.Net MVC</h4>
            <p>Faculdade de Tecnologia de Sorocaba – Sorocaba/SP</p>
            <p>No período de 27 de junho de 2016 a 01 de julho de 2016</p>
        </li>
    </ul>
</fieldset>