@{
    ViewBag.Title = "Natanael Lemos";
    ViewBag.Summary = "Software Design Engineer III";
}

<div class="text-right small">
    <p>Redmond, WA, USA</p>
</div>

@foreach (var section in ViewBag.Resume)
{
    <fieldset>
        <legend>@(section.SectionName)</legend>
        <ul class="cv-ul">
            @foreach (var item in section.Items)
            {
                <li>
                    @if (!string.IsNullOrWhiteSpace(item.Title))
                    {
                        <h2>@(item.Title)</h2>
                    }

                    @if (!string.IsNullOrWhiteSpace(item.Subtitle))
                    {
                        <h3>@(item.Subtitle)</h3>
                    }

                    @if (!string.IsNullOrWhiteSpace(item.Description))
                    {
                        <p>@(item.Description)</p>
                    }
                </li>
            }
        </ul>
    </fieldset>
}
