@{
    var experience = DateTime.Today - new DateTime(2014, 05, 15);
    var studying = DateTime.Today - new System.DateTime(2010, 07, 01);
}

<div class="sidebar" itemscope itemtype="//schema.org/Person" itemprop="Person">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-3">
            <img class="img-circle img-responsive img-avatar" itemprop="image" src="//res.cloudinary.com/dtdb0xrxd/image/upload/v1529383568/avatar4_rufyfo.jpg" title="Natanael Tavares Lemos" alt="Natanael Tavares Lemos" />
        </div>
    </div>

    <h4 itemprop="name">Natanael Lemos</h4>
    <h5 itemprop="jobTitle">Software Design Engineer III</h5>

    <div class="small" itemprop="disambiguatingDescription">
        <p>
            Analista e desenvolvedor de software com
            @(Math.Round((experience).TotalDays / 365)) anos
            de experiência trabalhando com .Net e mais de
            @(Math.Truncate((studying).TotalDays / 365))
            estudando a tecnologia.
        </p>
        <p>
            Entusiasta de novas tecnologias, certificado MCSD, especialista em engenharia de software.
        </p>
        <p>
            Auto-didata e pró-ativo, com grande interesse em aprender coisas novas. Adepto de <em>"Design Patterns"</em> e boas práticas de programação.
        </p>
    </div>

    <hr />

    <ul class="list-inline text-center">
        <li>
            <a href="https://www.facebook.com/natanaeltlemos" target="_blank" rel="noopener" title="Facebook">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://github.com/NatanaelLemos/" target="_blank" rel="noopener" title="Github">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/natanael-lemos" target="_blank" rel="noopener" title="Linkedin" itemprop="url">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/_nlemos_" target="_blank" rel="noopener" title="Instagram" itemprop="url">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="mailto:natanael.lemos@live.com" title="Email" itemprop="email">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa glyphicon-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>

    <hr />
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <img class="img-responsive" src="//res.cloudinary.com/dtdb0xrxd/image/upload/v1494106706/MS_Cert_Professional_logo_Blk_rgb_k3bh77.png" title="Microsoft Certified Professional" alt="Microsoft Certified Professional" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <img class="img-responsive" src="//res.cloudinary.com/dtdb0xrxd/image/upload/v1494106706/MCSD_WebApp_Blk_dsqcyz.png" title="Microsoft Certified Solutions Developer" alt="Microsoft Certified Solutions Developer" />
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h4>Powered by</h4>
            <img class="img-responsive" src="//res.cloudinary.com/dtdb0xrxd/image/upload/v1494106706/microsoft_azure_aeysok.png" title="Powered by Microsoft Azure" alt="Powered by Microsoft Azure" />
        </div>
    </div>
</div>